.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  background-color: thistle;
}
.App h1 {
  color: #180a0a;
  font-weight: unset;
}
@media (max-width: 600px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  .Container {
    min-width: 50%;
    min-height: 50%;
  }
  body h1 {
    padding: 0 15px;
  }
}
